templates/webhook-to-layerre-to-slack.json
{
  "name": "Webhook to Layerre: generate images and post to Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "layerre-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c639d949-8bc9-44e4-a9a5-582e07c8bc43",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        560,
        480
      ],
      "webhookId": "layerre-image-webhook"
    },
    {
      "parameters": {
        "content": "## Webhook → Layerre → Slack\n\nGenerate a custom image from incoming webhook data (e.g. form submissions, Typeform, Tally, or custom API) and post the result to a Slack channel.\n\n### How it works\n1. **Webhook**: Receives POST with JSON body (e.g. `{\"name\": \"Jane\", \"imageUrl\": \"https://...\"}`)\n2. **Create Template** (run once manually): Create a Layerre template from your Canva design, then select it in the variant node\n3. **Create Variant**: On each webhook, build one variant using body fields\n4. **Slack**: Post the rendered image URL (or message) to a channel\n\n### Prerequisites\n- [Layerre account](https://layerre.com) with API key\n- Canva design with customizable layers\n- Slack workspace and app (incoming webhook or Bot token)\n\n### Customization\n- Map webhook body fields to your Canva layer IDs in the Create Variant node\n- Use Respond to Webhook to return the image URL in the HTTP response\n- Add error handling or rate limiting as needed\n\n### Resources\n- [Layerre Documentation](https://layerre.com/docs)\n- [Layerre n8n Node](https://github.com/layerre/n8n-nodes-layerre)",
        "height": 728,
        "width": 464
      },
      "id": "8e201086-1ffa-4805-ad51-82962d587a69",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Step 1: Create Template (one-time, run manually)\n\nRun this node once: paste your Canva design URL and execute. Then in **Create Variant from Webhook**, select that template from the **Template** dropdown. This node is not in the webhook path.",
        "height": 200,
        "width": 320,
        "color": 7
      },
      "id": "fa8110f5-1de8-4f4f-b140-e2b15baae38e",
      "name": "Step 1 Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        192
      ]
    },
    {
      "parameters": {
        "content": "## Step 2: Create Variant from webhook body\n\nSelect your template from the **Template** dropdown (from Step 1). Map webhook JSON fields to your Canva layers. Example body: `{\"name\": \"Jane\", \"photoUrl\": \"https://...\"}`. Overrides use `$json.body.name` and `$json.body.photoUrl`.",
        "height": 260,
        "width": 360,
        "color": 7
      },
      "id": "37fbde2c-176f-49fe-958c-113f9b3a7be7",
      "name": "Step 2 Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Step 3: Post to Slack\n\nSend the rendered image URL (or a message) to a Slack channel. Configure your Slack credentials and channel.",
        "height": 200,
        "width": 340,
        "color": 7
      },
      "id": "221887f0-fac1-4f31-a278-f31e896c74bc",
      "name": "Step 3 Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        192
      ]
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "text": "=New image: {{ $json.url }}\n",
        "otherOptions": {}
      },
      "id": "6deff95d-1215-4201-96fa-46d0ebc74005",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1792,
        480
      ],
      "webhookId": "12886750-3909-4e24-8112-af781524f239",
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"imageUrl\": $json.renderedImageUrl || $json.imageUrl } }}",
        "options": {}
      },
      "id": "457b746b-95b3-440b-8550-9198de09b055",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2048,
        480
      ]
    },
    {
      "parameters": {
        "canvaUrl": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-layerre.layerre",
      "typeVersion": 1,
      "position": [
        928,
        480
      ],
      "id": "3d39edd6-bebc-4336-b46c-43ff5dd0b7f9",
      "name": "Create a template",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "variant",
        "templateId": "={{ $('Create a template').item.json.id }}",
        "variantDimensions": {},
        "overrides": {
          "override": [
            {
              "layerId": "",
              "overrideOptions": {
                "text": "={{ $json.body.name }}"
              }
            },
            {
              "layerId": "",
              "overrideOptions": {
                "imgUrl": "={{ $json.body.imageUrl }}"
              }
            }
          ]
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-layerre.layerre",
      "typeVersion": 1,
      "position": [
        1376,
        480
      ],
      "id": "18a89aaf-85c7-40f9-91cf-f550043b0915",
      "name": "Create a variant",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a variant": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a template": {
      "main": [
        [
          {
            "node": "Create a variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2e3473b-dfc7-404c-b312-d0a13ec30faa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}